{% extends "template.html" %} 
{% block title %} CORTES {% endblock %}

{% block content %} {% load static %} 

<div >
    <figure class="figure">
        <h3>Corte masculino con mechas</h3>
        <img src="{% static 'img/gallery/estilo-moderno.png' %}" class="figure-img img-fluid rounded"  .n/>
        <span>&nbsp;</span>
    </figure>
    <figure class="figure">
        <h3>Corte masculino rapado abajo y largo arriba</h3>
        <img src="{% static 'img/gallery/corte-pelo.png' %}" class="figure-img img-fluid rounded" w-50 .n/>
        <span>&nbsp;</span>
    </figure>
    <figure class="figure">
        <h3>Corte femenino con mechas escalonado</h3>
        <img src="{% static 'img/gallery/17.png' %}" class="figure-img img-fluid rounded"  .n/>
        <span>&nbsp;</span>
    </figure>
    <figure class="figure">
        <h3>Peinado femenino, trenza Maria despeinada</h3>
        <img src="{% static 'img/gallery/peinado_trenza.jpg' %}" class="figure-img img-fluid rounded"  .n/>
        <span>&nbsp;</span>
    </figure> 
    <figure class="figure">
        <h3>Peinado femenino, decolorado con ondas grandes</h3>
        <img src="{% static 'img/gallery/decoloradoyondas.jpg' %}" class="figure-img img-fluid rounded"  .n/>
        <span>&nbsp;</span>
    </figure>
    <figure class="figure">
        <h3>Manicure diseño de llamas en 3 colores</h3>
        <img src="{% static 'img/gallery/manicure_llamas.jpg' %}" class="figure-img img-fluid rounded"  .n/>
        <span>&nbsp;</span>
    </figure>
    <figure class="figure">
        <h3>Manicure azul matte con brillos</h3>
        <img src="{% static 'img/gallery/azulmatteybrillos.jpg' %}" class="figure-img img-fluid rounded" .n/>
        <span>&nbsp;</span>
    </figure>
    <figure class="figure">
        <h3>Manicure negro matte con brillos</h3>
        <img src="{% static 'img/gallery/negromattebrillosoyreflectante.jpg' %}" class="figure-img img-fluid rounded"  .n/>
        <span>&nbsp;</span>
    </figure> 
</div>

{% endblock %}