{% extends "template.html" %} 
{% block title %} CUIDADO CABELLO {% endblock %}

{% block content %} {% load static %} 

<div>
    <div class="row">
        <div class="card w-50">
            <img src="{% static 'img/gallery/aceite.jpg' %}" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-text">Aceite de argan</h3>
                <p class="card-text">El aceite de argán tiene vitaminas, minerales y ácidos grasos 
                    altamente beneficiosos para la piel y el pelo. Previenen el envejecimiento 
                    prematuro y reparan el daño del pelo en pocas aplicaciones. 
                    Si lo usas puedes conseguir: Un cabello muy hidratado, 
                    porque reduce la sequedad y le da mucho brillo.</p>
            </div>
        </div>

        <div class="card w-50">
            <img src="{% static 'img/gallery/alizados.jpg' %}" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-text">Alisado keratina</h3>
                <p class="card-text">La función más característica del tratamiento de keratina 
                    esreparar las fibras del cabello y nutrirlo desde la raíz hasta las puntas 
                    dándole un aspecto más cuidado y sedoso.</p>
            </div>
        </div>

        <div class="card w-50">
            <img src="{% static 'img/gallery/tratamiento palta.jpg' %}" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-text">Tratamiento con palta</h3>
                <p class="card-text">Beneficios de la palta para el cabello Este fruto se ha 
                    utilizado desde tiempos muy antiguos, se dice que los primeros en utilizarlo 
                    para tratamientos de belleza en el cabello fueron los egipcios, lo utilizaban 
                    para evitar la caída del cabello y ayudar a regular el crecimiento.</p>
            </div>
        </div>

        <div class="card w-50">
            <img src="{% static 'img/gallery/masaje capilar.jpg' %}" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-text">Masaje capilar</h3>
                <p class="card-text">¿Qué efectos beneficiosos tiene el masaje capilar? 
                    Sí es conocido que un masaje capilar activa la circulación de la sangre del 
                    cuero cabelludo y los folículos pilosos. De esa forma estamos activando el 
                    riego sanguíneo en nuestro pelo, haciendo que nazca más fuerte, denso y brillante.</p>
            </div>
        </div>

        <div class="card w-50">
            <img src="{% static 'img/gallery/08.png' %}" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-text">Manicure</h3>
                <p class="card-text">Una manicura bien hecha ayuda a lucir 
                    unas manos con aspecto bonito, limpio, suave y cuidado que 
                    refleja muchas cosas de la personalidad y forma de vida de una persona.</p>
            </div>
        </div>

        <div class="card w-50">
            <img src="{% static 'img/gallery/rubio-platinado-1-744x660.png' %}" class="card-img-top" />
            <div class="card-body">
                <h3 class="card-text">Tinte de cabello</h3>
                <p class="card-text">Tu pelo se ve con más brillo. 
                    Muchas mujeres piensan que teñirse el cabello opacará el pelo, 
                    por lo contrario optar por un cambio de tono de pelo hará que luzcas con reflejos. 
                    Así tendrás obtendrás un brillo natural</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}