{% extends "template.html" %} 
{% block title %} QUIENES SOMOS {% endblock %}

{% block content %} {% load static %} 

<div >
    <div class="text-align-rigth">
        <h2>Fundadora</h2>
        <h3>Doña Beatriz Aurora Pinzon Sonalo</h3>
        <img src="{% static 'img/betty_fundadora.jpg' %}" class="img.contenido" .n/>
        <span>&nbsp;</span>
        <div class="text-align-left" class="contenido">
            <p>Beatriz Pinzon,es la fundadora del "Salon de Belleza Doña Betty" 
                en el año de 1996 a la edad de 37 años, quien al ver que se corria de boca en boca 
                su gran habilidad para cortar el cabello decidio tomar la oportunidad para emprender.
            </p>
            <span>&nbsp;</span>
            <p>
                Actualmente este es manejado por ella y su hija mayor Paulina de 25 años, 
                quien se especializo en una academia, titulandose en el año 2018. 
                Apesar de tener en un principio tan solo como oferta el corte cabello,
                a traves de los años han ido integrando nuevos servicios tales como: 
                lavabado de cabello, manicure, pedicure, alisado con keratina, entre otros.
            </p>
        </div>
    </div> 
</div>

{% endblock %}